<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div>
    <%= f.label :role, "Register as" %>
    <%= f.select :role, [["Individual", "individual"], ["Organization", "organization"]], {}, { id: "role_selector" } %>
  </div>

  <div id="individual_fields">
    <%= f.fields_for :individual do |individual_form| %>
      <div>
        <%= individual_form.label :full_name %>
        <%= individual_form.text_field :full_name %>
      </div>
    <% end %>
  </div>

  <div id="organization_fields" style="display: none;">
    <%= f.fields_for :organization do |organization_form| %>
      <div>
        <%= organization_form.label :organization_name %>
        <%= organization_form.text_field :organization_name %>
      </div>
    <% end %>
  </div>

  <div>
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const roleSelector = document.getElementById("role_selector");
    const individualFields = document.getElementById("individual_fields");
    const organizationFields = document.getElementById("organization_fields");

    roleSelector.addEventListener("change", function () {
      if (this.value === "individual") {
        individualFields.style.display = "block";
        organizationFields.style.display = "none";
      } else {
        individualFields.style.display = "none";
        organizationFields.style.display = "block";
      }
    });
  });
</script>
